/* Fundo geral do site */
#logoSite {
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
    color: rgb(158, 8, 8);
    /* deixa o texto visível */
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Centralizar textos */
h1,
h2,
h3,
p {
    text-align: center;
}

/* Espaçamento das seções */
.catalogo>div {
    margin: 30px 0;
}

/* Container dos filmes */
.filme-container {
    display: inline-block;
    /* deixa lado a lado */
    margin: 10px;
}

/* Imagens dos filmes */
.filme-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.filme-container img:hover {
    transform: scale(1.1);
}